/*	
James T. Hsiao
Cascading Style Sheet for 
	Bronze Archive Index
*/

blockquote { 
   font-size: 150%;
   border: 1px solid #fff;
   padding: 8px; 
   margin-right: 3em; 
}

dl {
   font-size: smaller;
   border: 1px solid #ccc; 
   padding: 5px; 
   margin-right: 2em; 
}

ul {
   margin-top: 2px; 
   font-size: smaller;
   list-style-position: inside; 
   border: 1px solid #ccc; 
   padding: 5px; 
   margin-right: 2em; 
   margin-left: 0em; 
}

li { 
   margin-left: 1em; 
}

dd { 
   margin-left: 2em; 
}
